Flask==1.1.2
flask-expects-json==1.5.0
Flask-Limiter==1.4
h5py==2.10.0
imutils==0.5.3
itsdangerous==1.1.0
Jinja2==2.10.1
jupyter-client==6.1.2
jupyter-core==4.6.3
Keras==2.4.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keras-resnet==0.2.0
keras-retinanet==0.5.1
Markdown==3.2.2
MarkupSafe==1.1.0
matplotlib==3.2.1
numpy==1.18.4
numpydoc==0.7.0
opencv-contrib-python==4.2.0.34
opencv-python==4.4.0.44
pandas==1.0.5
python-dateutil==2.7.3
python-gnupg==0.4.5
python-mimeparse==1.6.0
python-snappy==0.5.3
python-utils==2.4.0
python3-xlib==0.15
scikit-learn==0.23.2
scipy==1.4.1
tensorboard==2.3.0
tensorboard-plugin-wit==1.6.0.post3
tensorflow==2.3.1
tensorflow-estimator==2.3.0
urllib3==1.25.8
Werkzeug==1.0.1
